@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  }
}

